[user]
	name = Jan Dammshäuser
	email = mail@jandamm.de

[core]
	pager = delta
	excludesfile = ~/.config/git/gitignore

[init]
	templatedir = ~/.config/git/template
	defaultBranch = main

[credential]
	helper = osxkeychain

[interactive]
	diffFilter = delta --color-only

[alias]
	adde = add --edit
	addp = add --patch
	amend = commit --amend
	amendZZ = amend --no-edit
	bclean = !git branch --merged | egrep -v '(^\\*|master|main|develop)' | xargs git branch -d
	bcleanr = !git branch -r --merged | egrep -v '(^\\*|master|main|develop)' | tr '/' ' ' | xargs -n 2 git push --delete
	current = !git rev-parse --abbrev-ref HEAD
	develop = switch develop
	ksdiff = difftool -t ksdiff
	ksdiffall = ksdiff --no-prompt
	ksmerge = mergetool -t ksdiff
	logfa = logf --all
	logg = log --graph --decorate
	logga = logg --all
	logs = log --graph --decorate --format=single
	logsa = logs --all
	main = switch main
	master = switch master
	pick = cherry-pick
	publish = !git push -u origin $(git current)
	resetp = reset --patch
	staged = diff --staged
	stashp = stash --patch
	track = checkout --track
	uncommit = reset HEAD~
	unamend = reset --soft HEAD@{1}
	update = fetch --all --prune
	wipa = wip --all

	# Aliase for Fugitive to find/complete git-* commands
	fixup = fixup
	fixapply = fixup apply
	pr-new = pr new
	pr-update = pr update
	unwip = unwip
	wip = wip

# Command configuration
[commit]
	verbose = true
	template = ~/.config/git/commit_message_template
[format]
	pretty = default

# My formatting
[pretty]
	default = %C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n  %C(dim white)%an <%aE>%C(reset)%n%n  %C(yellow)%s%C(reset)%n %n%-b%n
	single = %C(bold blue)%h%C(reset) - %C(bold green)%<(12,trunc)%ar%C(reset) - %C(yellow)%<(50,trunc)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)

# Diffing
[diff]
	tool = ksdiff
[difftool "fugitive"]
	cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
[difftool "ksdiff"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "intellij"]
	cmd = intellij-gittool \"$LOCAL\" \"$REMOTE\"
[color "diff"]
	meta = blue
	frag = yellow bold

# Merging
[merge]
	ff = false
	tool = intellij
[mergetool]
	# Don't ask before opening the next file
	prompt = false
	keepBackup = false
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[mergetool "ksdiff"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool "intellij"]
	cmd = intellij-gittool \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true

# Pulling
[pull]
	rebase = true
	ff = true

# Tools
[github]
	user = jandamm

[delta]
	syntax-theme = Nord
	plus-style = syntax "#39423E"
	plus-emph-style = normal "#597052"
	minus-style = syntax "#44353E"
	minus-emph-style = normal "#7A4951"
	max-line-distance = 1
	keep-plus-minus-markers = true
	highlight-removed = true
[advice]
	skippedCherryPicks = false
