[submodule "config/doom/modules/ui/minimap"]
	path = config/doom/modules/ui/minimap
	url = https://github.com/jandamm/doom-emacs-minimap.git
	branch = master
[submodule "zinit"]
	path = zinit
	url = https://github.com/zdharma/zinit.git
