snippet func "" b
function! ${1:s:${2:Name}}(${3:...}) abort
	$0
endfunction
endsnippet

snippet "aug(rp)?" "" br
augroup ${1:name}
	au!
	${2:${VISUAL:auc}}
augroup END
endsnippet

snippet "auc(md)?" "" br
${1:autocmd ${2:VimEnter} ${3:*}}$0
endsnippet

snippet "islo(aded)?" "" br
if exists('${1:g:loaded_${2:filename}}')
	finish
endif
let $1 = 1
$0
endsnippet

snippet "isa(uto)?lo(aded)?" "" br
if exists('${1:g:autoloaded_${2:filename}}')
	finish
endif
let $1 = 1
endsnippet
