snippet func "" b
function! ${1:Name}() abort
	$0
endfunction
endsnippet

snippet "aug(rp)?" "" br
augroup ${1:name}
	au!
	${2:${VISUAL:auc}}
augroup END
endsnippet

snippet "auc(md)?" "" br
${1:autocmd ${2:VimEnter} }$0
endsnippet

snippet "islo(aded)?" "" br
if exists('${1:g:${2:loaded$3}}')
	finish
endif
let $1 = 1
endsnippet

snippet "isa(uto)?lo(aded)?" "" br
if exists('${1:g:${2:autoloaded$3}}')
	finish
endif
let $1 = 1
endsnippet
